* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(255, 255, 255, 0.819);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
.container {
  padding-left: 10%;
  padding-right: 10%;
}
.btn1 {
  color: #0f0d3e;
  background-color: #06a0a6;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
}
.btn1 img {
  width: 20px;
  padding-left: 5px;
}
.btn1:hover {
  background: linear-gradient(315deg, #06a0a6 26%, #80ced7 74%);
  opacity: none;

  color: #fff;
  box-shadow: inset 0px 2px 4px rgba(0, 255, 255, 0.3),
    inset 0px 4px 8px rgba(0, 255, 255, 0.3),
    inset 0px 8px 16px rgba(0, 255, 255, 0.3);
  transition: 0.1s;
  transform: translateY(2px);
}
.divs {
  align-items: center;
  box-shadow: 0px 1px 2px rgba(0, 255, 255, 0.5),
    0px 2px 4px rgba(0, 255, 255, 0.5), 0px 4px 8px rgba(0, 255, 255, 0.5),
    0px 8px 16px rgba(0, 255, 255, 0.5);
  border-radius: 15px;
}
.divs:hover {
  box-shadow: 0px 1px 2px rgba(0, 255, 255, 0.5),
    0px 2px 4px rgba(0, 255, 255, 0.5), 0px 4px 8px rgba(0, 255, 255, 0.5),
    0px 8px 16px rgba(0, 255, 255, 0.5);
  transform: translateY(-5px);
  transition: 0.2s;
}

.C-name {
  color: #0f0d3e;
}
p,
a,
span {
  font-family: "Poppins", sans;
  font-weight: 400;
}

@media (max-width: 700px) {
  .container {
    width: 100%;
  }
}
